<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Numistmatics__Final__working_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Numistmatics__Final__working_.My.MySettings.Currency_Short_NamesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Currency_Short_Names.accdb"
            providerName="System.Data.OleDb" />
        <add name="Numistmatics__Final__working_.My.MySettings.CoinsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Coins.accdb"
            providerName="System.Data.OleDb" />
        <add name="Numistmatics__Final__working_.My.MySettings.NotesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Notes.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Numistmatics__Final__working_.My.MySettings>
            <setting name="key" serializeAs="String">
                <value>vz0t59hk1e</value>
            </setting>
            <setting name="ScannerDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="ToCurrency" serializeAs="String">
                <value>INR</value>
            </setting>
            <setting name="BackupFrequency" serializeAs="String">
                <value>0</value>
            </setting>
        </Numistmatics__Final__working_.My.MySettings>
    </userSettings>
</configuration>
